<!DOCTYPE html>
<html>
<body>
    <h1>Variable Test</h1>
    <p>Services count: <%= (typeof services !== 'undefined' && services) ? services.length : 'undefined' %></p>
    <p>Parashot count: <%= (typeof parashot !== 'undefined' && parashot) ? parashot.length : 'undefined' %></p>
</body>
</html>
